<div id="grave_detail">
  <div id="grave_detail_inner">
    <div id="grave_detail_wrapper">
      <div id="meta_data">
        <div class="data">
          <h3>soort</h3>
          <img src="img/grave_types/graf.png" title="grave" alt="grave"/>
        </div>
        <div class="data border_left_light">
          <h3>rij</h3>
          <h4>10</h4>
        </div>
        <div class="data border_left_light">
          <h3>nummer</h3>
          <h4>72</h4>
        </div>
        <div class="clear"></div>
      </div>
      <p id="people_count">Hier rusten <span>2</span> personen</p>
      <div id="people">
        <div class="person">
          <h5>Jan Vandevelde</h5>
          <div class="dates">
            <p class="birth">05.12.1932</p>
            <p class="death border_left_dark">29.03.2007</p>
            <div class="clear"></div>
          </div>
        </div>
        <div class="person">
          <h5>Jan Vandevelde</h5>
          <div class="dates">
            <p class="birth">05.12.1932</p>
            <p class="death border_left_dark">29.03.2007</p>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a id="close_detail" href="">close info</a>
</div>
