<div id="view_map" class="view">
  <header>
      <a id="back_button" href="#"><span>back</span></a>
      <h1>Avelgem</h1>
      <div class="clear"></div>
  </header>
  <form id="form" action="" method="post">
      <input id="filter" class="border_radius" type="text" value="" placeholder="Search by name or year... "/>
  </form>
  <div id="wrapper"><div id="scroller"><ul id="results"></ul></div></div>
<!--
  <div id="names_wrapper" class="hide">
    <div id="scroller">
      <ul id="names">
          <li>Peter Peeters</li>
          <li>Jan Jannsens</li>
          <li>Hans Hanssens</li>
          <li>Pieter Pietersen</li>
          <li>Filip Filips</li>
          <li>Hall Hodge</li>
          <li>Zahir Medina</li>
          <li>Rigel Stone</li>
          <li>Allistair Mckenzie</li>
          <li>Oleg Burris</li>
          <li>Randall Benson</li>
          <li>Asher Jenkins</li>
          <li>Samson Mcclain</li>
          <li>Cole Gallagher</li>
          <li>Akeem Franco</li>
          <li>Dolan Romero</li>
          <li>Melvin Rivers</li>
          <li>Dexter Long</li>
          <li>Jarrod Macdonald</li>
          <li>Camden Pennington</li>
          <li>Jerome Madden</li>
          <li>Warren Becker</li>
          <li>Vaughan Bryant</li>
          <li>Robert Perkins</li>
          <li>Michael Santos</li>
          <li>Amal Britt</li>
          <li>Sawyer Alvarez</li>
          <li>Colt Everett</li>
          <li>Cooper Briggs</li>
          <li>Sebastian Sims</li>
          <li>Tyler Wade</li>
          <li>Dane Pena</li>
          <li>Wyatt Brock</li>
          <li>Barry Trevino</li>
          <li>Raymond Lyons</li>
          <li>Abraham Stuart</li>
          <li>Jamal Gordon</li>
          <li>Dieter Meadows</li>
          <li>Damon Dillard</li>
          <li>Alan Haney</li>
          <li>Jasper Rosales</li>
          <li>Michael Reyes</li>
          <li>Chase Carlson</li>
          <li>Paul Bartlett</li>
          <li>Quentin Lowe</li>
          <li>Hedley Scott</li>
          <li>Palmer Powell</li>
          <li>Gannon Kirkland</li>
          <li>Murphy Logan</li>
          <li>Kareem Melton</li>
          <li>Jesse Price</li>
          <li>Ira Blake</li>
          <li>James Robbins</li>
          <li>Garth Mcleod</li>
          <li>Nolan Murray</li>
          <li>Colton Kerr</li>
          <li>Ezra Burch</li>
          <li>Carter Kim</li>
          <li>Nehru Zamora</li>
          <li>Chandler Nixon</li>
          <li>Finn Robertson</li>
          <li>Orlando Gordon</li>
          <li>Colorado Steele</li>
          <li>Reuben Ewing</li>
          <li>Graiden Henson</li>
          <li>Lawrence Mullins</li>
          <li>Lance Compton</li>
          <li>Nash Jefferson</li>
          <li>Christopher Simon</li>
          <li>Tanek Mckenzie</li>
          <li>Christian Meyer</li>
          <li>Hu Cannon</li>
          <li>Chaney Mcclure</li>
          <li>Jordan Lowery</li>
          <li>Berk Harrington</li>
          <li>Thane Rosa</li>
          <li>Palmer Ramirez</li>
          <li>Deacon Maldonado</li>
          <li>Noble Mccormick</li>
          <li>Brian Morrison</li>
          <li>Mohammad Odonnell</li>
          <li>Alec Rogers</li>
          <li>Ira Gomez</li>
          <li>Cruz Wyatt</li>
          <li>Knox Lane</li>
          <li>Ezra Clayton</li>
          <li>Benjamin Pollard</li>
          <li>Valentine Craft</li>
          <li>Cade Daniels</li>
          <li>Rooney Gamble</li>
          <li>Philip Merrill</li>
          <li>Salvador Flynn</li>
          <li>Orson Barker</li>
          <li>Abraham Hart</li>
          <li>Hashim Blake</li>
          <li>Magee Wyatt</li>
          <li>Nolan Cook</li>
          <li>Martin Armstrong</li>
          <li>Quinn Long</li>
          <li>Kane Riddle</li>
          <li>Arden Cross</li>
          <li>Tyler Alexander</li>
          <li>Elvis Pitts</li>
          <li>William Joyce</li>
          <li>Austin Pacheco</li>
      </ul>
    </div>
  </div>-->
</div>
